<header class="main-nav">
	<nav class="left-nav">
		<ul>
			<li id="sections-sidebar-btn">
				<i class="fa fa-bars"></i>
				<span>sections</span>
			</li>
			<li id="search-modal-btn">
				<i class="fa fa-search"></i>
				<span>search</span>
			</li>
		</ul>
	</nav>

	<nav class="right-nav">
		<ul>
			<li id="sections-right-sidebar-subscribe-now">
				<span>subscribe now</span>
			</li>
			<li id="sections-right-sidebar-log-ing">
				<span>log in</span>
			</li>
			<li id="gear-dropdown-btn">
				<i class="fa fa-cog"></i>
				<section class="dropdown-render"><%= render partial:'shared/gear_dropdown' %></section>
			</li>
		</ul>
	</nav>
</header>
