<section class="masthead">
  <div class="language-nav">
    <ul>
      <li><a href="#">CSS</a></li>
      <li><a href="#">HTML</a></li>
      <li><a href="#">Javascript</a></li>
      <li><a href="#">Ruby</a></li>
    </ul>
  </div>
  <ul>
    <li class="logo">
      <img src="assets/AA_Times_Logo.png" alt="Academy Times">
    </li>
    <li>
      <ul class="masthead-links">
        <li>
          <span>Tuesday, February 28, 2017</span>
        </li>
        <li id="masthead-paper">
          <i class="fa fa-newspaper-o" aria-hidden="true"></i>
          <a href="#">Today's Paper</a>
        </li>
        <li id="masthead-video">
          <i class="fa fa-video-camera" aria-hidden="true"></i>
          <a href="#">Video</a>
        </li>
        <li>
          <button type="button">77°F</button>
        </li>
        <li>
          <button type="button">AAO <strong>+100%</strong></button>
        </li>
      </ul>
    </li>
  </ul>
</section>
